.contact {
	background: url('../images/texture/line_paper_pattern_darken.jpg') left top repeat;
	.contact_wrapper {
		.contact_forms {
			background: url('../images/texture/pattern_blue.jpg') left top repeat;

			.contact_content {
				@include grid-column(4);
				color: $white;

				@media #{$small-only} {
					@include grid-column(12);
				}

				@media #{$medium-up} {
					width: rem-calc(380);
					margin: 0 auto;
					display: table;
					float: none;
				}

				@media #{$large-up} {
					@include grid-column(4);
					float: left;
				}

				h1 {
					color: $white;
					line-height: rem-calc(48);
					font-size: rem-calc(44);
					margin: rem-calc(43) 0 rem-calc(6) 0;
					font-family: $font-asap;

					span {
						font-weight: bold;
						clear: both;
					}
				}

				.contact_subtitle {
					font-family: $font-fresca;
					line-height: rem-calc(24);
					font-size: rem-calc(18);
					margin: 0 0 rem-calc(16) 0; 
				}

				.contact_info_links {
					width: 100%;
					float: left;
					ul {
						width: 100%;
						float: left;
						padding: rem-calc(15) 0 rem-calc(12) 0;
						border-top: rem-calc(1) solid rgba($white, .5);
						border-bottom: rem-calc(1) solid rgba($white, .5);

						li {
							width: 100%;

							a {
								color: $white;
								text-decoration: none;
								font-family: $font-fresca;
								line-height: rem-calc(28);
								font-size: rem-calc(18);
								padding-left: rem-calc(30);
							}

							.phone_icon {
								background: url('../images/contact/phone_icon.png') 6px 3px no-repeat;
							}

							.email_icon {
								background: url('../images/contact/email_icon.png') 2px 7px no-repeat;
							}
						}
					}
				}

				.contact_forms_list {
                    label {
                      color: #ffffff !important;
                    }
					li {

                      .gform_wrapper .top_label .gfield_label,
						p {
							margin-bottom: rem-calc(7);
						}

						input {
							text-transform: capitalize !important;
							box-shadow: none;
							border: 0;
							margin-bottom: rem-calc(9);
							padding-left: rem-calc(13);
							padding-right: rem-calc(13);
                            width: 100% !important;
						}

						textarea {
							box-shadow: none;
							border: 0;
							padding-left: rem-calc(13);
							padding-right: rem-calc(13);
							min-height: rem-calc(115);
							margin-bottom: rem-calc(13);
                            width: 100% !important;
						}
						button {
							font-size: rem-calc(16) !important;
							padding:  rem-calc(9) rem-calc(20)  rem-calc(8)  rem-calc(20) !important;
							margin:0 0 rem-calc(13) 0 !important;
						}

					}
                  .gform_footer {
                    padding: rem-calc(15) 0 rem-calc(12) rem-calc(8);
                  }
                  .gform_footer button {
                      font-size: rem-calc(16) !important;
                      padding:  rem-calc(9) rem-calc(20)  rem-calc(8)  rem-calc(20) !important;
                      margin:0 0 rem-calc(13) 0 !important;

                  }
				}
			}

			.contact_img {
				@include grid-column(8);

				margin-top: rem-calc(79);
				float: right;

				@media #{$small-only} {
					@include grid-column(12);
				}

				@media #{$medium-up} {
					@include grid-column(12);
				}

				@media #{$large-up} {
					@include grid-column(8);
					float: right;
				}

				img {
					margin: 0 auto;
					display: table;
				}
			}
		}

		.contact_locations {
			.contact_location_box {
				@include grid-column(6);
				margin-top: rem-calc(20);

				@media #{$small-only} {
					@include grid-column(12);
				}
				

				.contact_location_wrapper {
					background: $white;
					float: left;
				}

				.contact_location_img {
					width: 50%;
					float: left;

					@media #{$small-only} {
						@include grid-column(12);
						padding: 0;
					}

					@media #{$medium-up} {
						width: 100%;
					}

					@media #{$large-up} {
						width: 50%;
					}

					img {
						max-width: 100%;
						width: 100%;
					}
				}

				.contact_location_content {
					float: left;
					width: 50%;
					padding: 0 rem-calc(20);

					@media #{$small-only} {
						@include grid-column(12);
					}

					@media #{$medium-up} {
						width: 100%;
						min-height: rem-calc(250);
					}

					@media #{$large-up} {
						width: 50%;
						min-height: auto !important;
					}

					h2 {
						margin: rem-calc(18) 0 rem-calc(0) 0;
						color: $primary-color;
						font-family: $font-asap;
						font-size: rem-calc(22);
						line-height: rem-calc(28);
						font-weight: bold;
					}

					.subtitle {
						font-weight: normal;
						margin: 0 0 rem-calc(6) 0;
					}
				}
			}
		}
	}

	.blog-socials-bg {
		background: none !important;

		@media #{$medium-up} {
			padding: rem-calc(20) 0 rem-calc(0) 0 !important;
		}
	}
}