input {
	text-transform: uppercase;
}

form {
	button[type="submit"],
	input[type="submit"] {
		@include single-transition();

		background: none;
		font-family: 'never-let-go', Verdana, sans-serif;
		font-size: rem-calc(30);
		outline: 0;
		padding: 0;
		text-transform: lowercase;
	}

	label {
		margin-bottom: rem-calc(9);
		text-transform: uppercase;
	}

	input {
		&[type="email"],
		&[type="tel"],
		&[type="text"],
		&[type="url"] {
			border: 1px solid #000;
			height: rem-calc(34);
			line-height: 1.428571;
			padding-bottom: rem-calc(6);
			padding-top: rem-calc(6);
			text-transform: none;
		}
	}

	textarea {
		border: 1px solid #000;

		&[rows] {
			height: rem-calc(126);
		}
	}
}

.gform_fields {
	list-style: none;
	margin: 0 (-($column-gutter / 2));
	padding: 0;
	position: relative;
	
	label {
		display: inline-block;
	}

	li {
		@include grid-column(24);

		clear: both;

		&.field-complex {
			padding: 0;
		}

		&.field-width-1 {
			float: left;
			position: relative;
			width: rem-calc(42);
			z-index: 1;
		}

		&.field-zip {
			float: left;
			margin-top: -75px;
			padding-left: rem-calc(52);
			width: 100%;
			z-index: 0;
		}

		&.has-label {
			line-height: 13px;

			label {
				display: inline-block;
				line-height: inherit;
				margin-bottom: 0;

				&:after {
					content: '/';
					display: inline;
					margin: 0 4px;
				}
			}

			.gfield_description {
				display: inline;
				font-size: rem-calc(11);
			}

			.ginput_container {
				margin-top: rem-calc(14);
			}
		}

		@media #{$medium-up} {
			&:not(.field-complex) {
				@include grid-column(12);

				clear: none;
			}

			&.field-width-full {
				@include grid-column(24);
			}

			&.field-width-1 {
				width: rem-calc(42);
			}

			&.field-zip {
				margin-left: -(rem-calc(42));
				margin-top: 0;
				padding-left: rem-calc(47);
				width: 50%;
			}
		}

		@media #{$large-up} {
			&.field-width-1 {
				width: 6.25%;
			}

			&.field-width-2 {
				width: 31.25%;
			}

			&.field-width-3 {
				width: 37.5%;
			}

			&.field-zip {
				margin-left: 0;
				padding-left: $column-gutter / 2;
				width: 31.25%;
			}
		}
	}

	.gform_validation_container {
		display: none !important;
		position: absolute !important;
		left: -9000px;
	}
}

.gform_footer {
	clear: both;

	input[type="submit"] {
		background: transparent;
		color: $primary-color;
		font-size: rem-calc(54);
		height: auto;
		line-height: 0.6667;
		margin-bottom: rem-calc(12);
		max-width: rem-calc(180);
		padding: rem-calc(8) 0;
		text-align: left;
		white-space: normal;

		&:hover {
			background: transparent;
		}
	}
}

.ginput_complex {
	position: relative;

	> span {
		@include grid-column(24);

		@media #{$medium-up} {
			@include grid-column(12);
		}
	}
}

.gfield_checkbox,
.gfield_radio {
	@include clearfix();

	list-style: none;
	margin: 0 (-($column-gutter / 2)) rem-calc(4);

	li {
		@include grid-column(12);

		clear: none;
		margin-bottom: rem-calc(12);
		min-height: 34px;
		position: relative;

		@media #{$medium-up} {
			width: 130px !important;
		}
	}

	input {
		&[type="checkbox"],
		&[type="radio"] {
			margin: 0;
			position: absolute;
			opacity: 0;
			-moz-opacity: 0;
			-webkit-opacity: 0;
			-o-opacity: 0;

			& + label {
				line-height: 14px;
				margin: 0;
				max-width: 130px;
				padding: rem-calc(3) 0 rem-calc(3) rem-calc(44);
				position: absolute;
				vertical-align: top;
				top: 50%;
				transform: translateY(-50%);

				&:before {
					content: " ";
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					height: rem-calc(34);
					width: rem-calc(34);
					background: white;
					border: 1px solid #000;
					-webkit-box-shadow: inset 0 0 0 6px white;
					-moz-box-shadow: inset 0 0 0 6px white;
					-o-box-shadow: inset 0 0 0 6px white;
					box-shadow: inset 0 0 0 6px white;
					border-radius: 0;
					margin-top: -(rem-calc(17));
				}

				.ie9 & {
					position: static;

					&:before {
						left: ($column-gutter / 2);
					}
				}
			}

			&:checked + label:before {
				background: #000;
			}
		}
	}
}

#field_2_5 {
	@media #{$medium-up} {
		width: 100%;
	}

	@media #{$large-up} {
		width: 68.75%;
	}
}

#field_2_14 {
	display: none;
 }